html, body {
	position: relative;
	font-size: 13px;
	font-family: 'Nanum Barun Gothic', 'Apple Gothic', 'Helvetica', 'dotum';
	padding: 20px;
}

h1 {
	padding: .4em 0;
	font-size: 180%;
	margin-bottom: .4em;
	color: 3333333;
	border-bottom: 1px solid #efefef;
}

#formula {
	height: 360px;
	background-color: #f2f2f2;
	border: 1px solid #d8d8d8;
}